<div>
  <h3 *ngIf="loading | async">Loading...</h3>
  <div>
    <input type="text" [formControl]="title" placeholder="title" >
    <a routerLink="" class="go-to-home"> Go To Home</a>
  </div>
  <br>
  <div>
    <input type="text" [formControl]="desc" placeholder="desc" >
  </div>
  <br>
  <div>
    <button (click)="create()" [disabled]="!title.value || !desc.value || (loading | async)">Create Todo</button>
  </div>
  <br>
  <div>
    <a *ngIf="!loading" routerLink="">Go to Home</a>
  </div>
</div>
