<app-loading *ngIf="loading | async"></app-loading>
<div class="container display-flex justify-content-c align-items-c flex-direction-c">
  <h2 align="center" class="fs-3 mb-2">Create Todo</h2>
  <div class="form-control mb-2">
    <input class="input"type="text" [formControl]="title" placeholder="title" >
  </div>
  <div class="form-control mb-2">
    <textarea class="input" type="text" [formControl]="desc" placeholder="desc"> </textarea>
  </div>
  <div>
    <button class="btn fs-2"  [class.btn-primary]="title.value && desc.value && !(loading | async)" (click)="create()" [disabled]="!title.value || !desc.value || (loading | async)">Create Todo</button>
  </div>
  <div>
  </div>
</div>
