@import "~src/assets/styles/colors.scss";

.header-container {
  position: absolute;
  top: 0;
  background-color: $primary;
  width: 100%;
  box-shadow: 0 0 10px #7a7a7a;
}

.log-out {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
