<div>
  <h3 *ngIf="loading | async">Loading...</h3>
  <div class="form-container">
    <input
        type="text"
       [formControl]="email"
       placeholder="email" >
    <input
        type="password"
       [formControl]="password"
       placeholder="password" >
  <div>
    <button (click)="login()" [disabled]="loading | async">Login</button>
  </div>
  </div>
  <span class="error-msg">{{ (loginErr | async) && (loginErr | async).message }}</span>
  <br>
  <br>
  <div>
    <button (click)="goToRegister()" [disabled]="loading | async">Go to Register</button>
  </div>
</div>
<div class="right-side-bg-image"></div>
