<div>
  <h3 *ngIf="loading | async">Loading...</h3>
  <div>
    <input type="text" [formControl]="email" placeholder="email" >
  </div>
  <br>
  <div>
    <input type="password" [formControl]="password" placeholder="password" >
  </div>
  <div>
    <br>
    <button (click)="login()" [disabled]="loading | async">Login</button>
  </div>
  <br>
  <span class="error-msg">{{ (loginErr | async) && (loginErr | async).message }}</span>
  <br>
  <br>
  <div>
    <button (click)="goToRegister()" [disabled]="loading | async">Go to Register</button>
  </div>
</div>
