.log-out {
  text-align: center;
  width: 100%;
}

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-rem-size($size) {
  font-size: calculateRem($size);
}
