.container {
  height: 100vh;
  position: relative;
  flex-wrap: wrap;
}

.horizontal-options {
  position: relative;
  button {
    border-radius: 50%;
    padding: 19px;
    display: flex;
    cursor: pointer;
    justify-content: center;
    min-width: unset;
    img {
      width: 30px;
    }
  }
}

.input {
  font-size: 2rem;
}

.btn-options {
  flex-wrap: wrap;
}
