<app-loading *ngIf="loading | async"></app-loading>
<div class="container display-flex justify-content-c align-items-c" >
    <div>
      <div class="display-flex flex-direction-c mb-2">
        <b class="fs-2 ml-1" *ngIf="edit" @fadeIn>Titulo:</b>
        <span *ngIf="!edit; else inputTitle" class="fs-3" @fadeIn>{{ todo && todo.title }}</span>
        <ng-template #inputTitle>
          <div class="form-control" @fadeIn>
            <input class="input" type="text" [formControl]="title">
          </div>
        </ng-template>
      </div>
      <div class="display-flex flex-direction-c">
        <b class="fs-2 ml-1" *ngIf="edit" @fadeIn>Description:</b>
        <span @fadeIn class="fs-3" *ngIf="!edit; else inputDesc">{{ todo && todo.desc }}</span>
        <ng-template #inputDesc>
          <div class="form-control" @fadeIn>
            <input class="input" type="text" [formControl]="desc">
          </div>
        </ng-template>
      </div>
      <div class="mt-2 display-flex justify-content-c btn-options">
        <button @fadeIn class="btn mr-2" *ngIf="edit" (click)="edit = false" [disabled]="loading | async">Cancel</button>
        <button @fadeIn *ngIf="edit" class="btn btn-primary" (click)="update()" [disabled]="loading | async">Update</button>
      </div>
  </div>
  <div class="horizontal-options display-flex justify-content-c flex-direction-c ml-2 mr-2">
    <button @popIn class="btn btn-primary mb-1" *ngIf="!edit" (click)="onEdit()" [disabled]="loading | async">
      <img src="/assets/icons/edit.svg" />
    </button>
    <button @popIn class="btn btn-danger" (click)="deleteTodo()" [disabled]="loading | async">
      <img src="/assets/icons/trash.svg" />
    </button>
  </div>
</div>
