@import "~src/assets/styles/colors.scss";

// form control styles
.form-control {
  padding: 0 10px;
  input {
    border: 1px solid $primary;
    box-shadow: 0 0 5px $primary;
    border-radius: 3px;
    font-size: 18px;
    padding: 10px;

    &:active {
      box-shadow: 0 0 5px $primary-dark;
      outline: unset;
    }
  }
}

.btn {
  padding: 12px;
  border-radius: 3px;
  border: unset;
  border-bottom: 7px solid $default-dark;
  background-color: $default;
  min-width: 100px;
  font-size: 16px;

  &:active {
    border-bottom: unset;
    outline: unset;
  }
}

.btn-primary {
  border-bottom: 5px solid $primary-dark;
  background-color: $primary;
  color: #fff;
}
