<div>
  <h3 *ngIf="loading | async">Loading...</h3>
  <div>
    <input type="text" [formControl]="email" placeholder="email" >
  </div>
  <br>
  <div>
    <input type="password" [formControl]="password" placeholder="password" >
  </div>
  <br>
  <div>
    <button (click)="register()" [disabled]="loading | async">Register</button>
  </div>
  <br>
  <span>{{ (registerErr | async).message }}</span>
  <br>
  <br>
  <div>
    <a *ngIf="!(loading | async)" [routerLink]="'login'">Go to Login</a>
  </div>
</div>
