@import "~src/app/login/login.component";
.error-msg {
  color: red;
}

.user-plus-icon {
  button {
    border-radius: 50%;
    display: flex;
    padding: 25px;
    justify-content: center;
    min-width: unset;
    width: 100px;
    img {
      width: 40px;
    }
  }
}

@media screen and (max-width: 675px) {
  .user-plus-icon {
    bottom: 20px;
    right: 20px;
    button {
      width: 70px;
      img {
        width: 20px;
      }
    }
  }
}
