@import "~src/app/login/login.component";
.error-msg {
  color: red;
}

.user-plus-icon {
  button {
    border-radius: 50%;
    display: flex;
    padding: 25px;
    justify-content: center;
    min-width: unset;
    img {
      width: 40px;
    }
  }
}
